@use '../../assets/variables';

section {
    padding-top: 13rem; // obligatoire pour le moment
    padding-bottom: 5rem;
    border-bottom: solid 1px variables.$color-light-border;
}

.dark_theme {
    section {
        border-bottom: solid 1px variables.$color-dark-border;
    }
}