.honeycomb
{
  display: grid;
  grid-template-columns: repeat(9, 6.5rem);
  grid-row-gap: 1rem;
  grid-template-rows: repeat(3, 10rem);
  //grid-column-gap: 0.5rem;
  list-style: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-width: 100%;
  margin: 0 10rem;
  padding: 0 1rem;
  
  p
  {
    color: #fff;
  }
}

.honeycomb-cell
{
  position: relative;
  width: 200px;
  height: 225px;
  filter: blur(0px);
  transition: ease-in-out 0.125s, filter ease-in-out 0.2s;

  &-inner
  {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #0d7925;

    &_title
    {
      display: block;
      position: relative;
      text-align: center;
      color: white;
      font-size: 1.75rem;
      font-weight: 700;
      padding: 5.75rem 0;
    }
  }

  &:nth-child(1){ 
    grid-column-start: 1;
  }
  &:nth-child(2){ grid-column-start: 3; }
  &:nth-child(3){ grid-column-start: 5; }
  &:nth-child(4){ 
    grid-column-start: 7;
  }
  &:nth-child(5){ grid-column-start: 2; }
  &:nth-child(6){ grid-column-start: 4; }
  &:nth-child(7){ grid-column-start: 6; }

  &:last-child {
    .honeycomb-cell-inner_title {
      padding-top: 5rem;
    }
  }

  &:hover
  {
    transform: scale(1.100);
    filter: drop-shadow(0 1rem 1rem rgba(190, 190, 190, 0.4));
    //background-color: darkgreen;  
    z-index: 1;
    cursor: pointer;

    &-inner {
      background-color: darkgreen;
    }
  }
}

.comb_not_hovered
  {
    filter: blur(2px);
  }

// Media queries

@media screen and (max-width: 975px)
{
  .honeycomb
  {
    grid-template-columns: repeat(7, 6.5rem);
    grid-template-rows: repeat(3, 10rem);
  }

  .honeycomb-cell
  {
    &:nth-child(1){ grid-column-start: 1; }
    &:nth-child(2){ grid-column-start: 3; }
    &:nth-child(3){ grid-column-start: 5; }
    &:nth-child(4){ grid-column-start: 2; }
    &:nth-child(5){ grid-column-start: 4; }
    &:nth-child(6){ grid-column-start: 6; }
    &:nth-child(7){ grid-column-start: 3; }
  }
}

@media screen and (max-width: 750px)
{
  .honeycomb
  {
    grid-template-columns: repeat(5, 6.5rem);
    grid-template-rows: repeat(5, 10rem);
  }

  .honeycomb-cell
  {
    &:nth-child(1){ grid-column-start: 1; }
    &:nth-child(2){ grid-column-start: 3; }
    &:nth-child(3){ grid-column-start: 2; }
    &:nth-child(4){ grid-column-start: 4; }
    &:nth-child(5){ grid-column-start: 1; }
    &:nth-child(6){ grid-column-start: 3; }
    &:nth-child(7){ grid-column-start: 2; }
  }
}

@media screen and (max-width: 600px)
{
  .honeycomb
  {
    grid-template-columns: repeat(4, 6.5rem);
    grid-template-rows: repeat(5, 10rem);
  }

  .honeycomb-cell
  {
    &:nth-child(1){ grid-column-start: 1; }
    &:nth-child(2){ grid-column-start: 3; }
    &:nth-child(3){ grid-column-start: 2; }
    &:nth-child(4){ grid-column-start: 1; }
    &:nth-child(5){ grid-column-start: 3; }
    &:nth-child(6){ grid-column-start: 2; }
    &:nth-child(7){ grid-column-start: 1; }
  }
}

@media screen and (max-width: 550px)
{
  .honeycomb
  {
    grid-template-columns: repeat(3, 6.5rem);
    grid-template-rows: repeat(10, 10rem);
  }

  .honeycomb-cell
  {
    &:nth-child(1){ grid-column-start: 1; grid-row-start: 1; }
    &:nth-child(2){ grid-column-start: 2; grid-row-start: 2; }
    &:nth-child(3){ grid-column-start: 1; grid-row-start: 3; }
    &:nth-child(4){ grid-column-start: 2; grid-row-start: 4; }
    &:nth-child(5){ grid-column-start: 1; grid-row-start: 5; }
    &:nth-child(6){ grid-column-start: 2; grid-row-start: 6; }
    &:nth-child(7){ grid-column-start: 1; grid-row-start: 7; }
  }
}