@use '../../../assets/variables';

.bento-grid-phone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;

    .bento-tellows {
        grid-column: 1/3;
    }

    .bento-spamcalls {
        grid-column: 3 / 4;
    }
}