@import url(./../../assets/main.scss);

.container {
  padding: 25rem 0 20rem;
  align-items: center;
  
  .sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    .button {
      width: 20rem;
      font-size: 20px;
    }
  }
}

// mobile version
.mobile-container {
  padding: 20rem 0 15rem;
  
  .sub-mobile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    .title {
      font-size: 4rem;
      padding-bottom: 0;
    }
    
    .button {
      align-self: center;
    }
  }
}

// le bouton let's go
.button {
  position: relative;
  width: 15rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(13 121 37);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  font-family: 'Space Mono', monospace;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  &:hover {
    transform: scale(1.05);
    border-color: #fff9;
    
    .icon {
      transform: translate(4px);
    }
    
    &::before {
      animation: shine .5s ease-out;
    }
  }
  
  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
}

@keyframes shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}