@import url(./base.scss);
@import url(./background.scss);

* {
    font-family: 'Space Mono', monospace; // default font, si jamais on oublie
}

#app {
    background-color: #f7f9f4;
    width: 100%;
}