$color-dark-primary: #121212;
$color-dark-secondary:#2c2f33;
$color-light-primary: #f7f9f4;

$color-dark-text: #f7f9f4;
$color-light-text: #000000;

$color-light-border: rgba(0, 0, 0, 0.1);
$color-dark-border: rgba(255, 255, 255, 0.1);