@use 'variables';

// Defaut pour toutes les pages, uniformité
* {
  font-family: 'Space Mono', monospace; // default font, si jamais on oublie
  font-size: 16px; // default font size, si jamais on oublie
  font-weight: 200; // default font weight, si jamais on oublie
}

// Bordure en bas des sections pour une meilleure lisibilité
section {
  border-bottom: solid 1px variables.$color-light-border;
}
// Conteneur de base pour la mise en forme de la page, uniformité
.container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

// Titres et sous-titres de même taille sur toutes les pages, uniformité
.title {
    max-width: fit-content;
    padding-bottom: 1rem;
    font-size: 6rem;
    font-weight: 600;
    font-family: 'Space Mono', monospace;
}
.subtitle{
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Space Mono', monospace;
}

////////////////////// VERSION MOBILE CI DESSOUS //////////////////////
.mobile-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.dark_theme {
    color: variables.$color-dark-text;

    section {
        border-bottom: solid 1px variables.$color-dark-border;
    }
}